body{
    background-image: url('file:///Users/jonathannjine/Downloads/sunguk-kim-o9RLeUVowG8-unsplash.jpg');
}

h1 {
    display: inline-block;
    margin-top: 5%;
    margin-left: 25%;
  
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    line-height: 80px;
    text-align: center;
    text-transform: lowercase;
  
    color: #f9f8f8;
  
    border: 9px solid #503074;
    border-radius: 4px;
    background-color: #090101;
    padding: 80px 40px;
  }
  
  
span{
    
text-align: center;
text-transform: uppercase;

color: #D52C5D;
}

